.content {
  margin-left: 250px;
  height: 100%;

  @media screen and (max-width: $break-small) {
    margin-left: 80px;
  }

  .wraper {
    padding: 20px 0 20px 0;
    min-height: 98%;

    .page-title {
      height: 61px;
      padding: 0 10px 15px 10px;
      margin: 0;

      div {
        button.add {
          display: flex;
          float: left;
          height: 40px;
          padding: 10px 17px;
          margin-right: 30px;
          margin-left: 10px;

          &:hover {
            color: $c_white;
          }
        }

        button.dropdown {
          text-align: right;
          height: 34px;
          line-height: 34px;
          font-size: 1.1em;
          padding: 0 6px 0 30px;
          color: $c_grey_content_font;
          background-color: transparent;
          border: 0;
          outline: 0;
          @include box-shadow(none);
          @include border-radius(2px);

          &:active, &:focus, .btn-group.open, .dropdown-toggle {
            @include box-shadow(none);

          }

          &.order:after {
            position: absolute;
            bottom: .85em;
            margin-left: -27px;
            display: block;
            color: $c_grey_content_font;
            width: 20px;
            height: 20px;
            content: "\f39d";
            font-size: 1em;
            font-family: 'ionicons' !important;
          }
        }

        .export {
          margin: 0;
          font-size: 2em;
          color: $c_blue;
          padding-left: 10px;

          span {
            line-height: 40px;
          }

          .btn-export {
            margin-left: 10px;
          }
        }
      }
    }

    .no-entries {
      position: relative;
      display: block;
      text-align: center;
      margin-top: 25vh;
      color: rgba($c_grey_content_font, .5);
      font-size: 1.2em;
      z-index: 1;

      img {
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
        width: 150px;
      }
      div.headline {
        color: rgba($c_black, .85);
        font-weight: bold;
        padding-bottom: 12px;
        font-size: 1.1em;
      }
      div {
        color: rgba($c_black, .6);
        font-size: .8em;
      }
    }
  }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: $c_blue;
}