.footer {
  z-index: 1000;
  font-size: 0.9em;

  &.white {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: rgba($c_white, 0.7);
    a {
      color: rgba($c_white, 0.7);
    }
  }

  &.black {
    margin-top: -10px;
    margin-right: 10px;
    position: relative;
    float: right;
    a {
      color: $c_grey_content_font;
    }
  }
}
