.footer {
  z-index: 1000;
  font-size: 0.9em;

  &.white {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: $c_white;
    a {
      color: $c_white;
    }
  }

  &.black {
    padding: 0 10px 0 0;
    position: absolute;
    bottom: 15px;
    right: 10px;
    a {
      color: $c_grey_content_font;
    }

  }


}