form.filter {
  display: flex;
  position: relative;
  flex-grow: 100;

  input {
    outline: none;
    background-color: $c_white;
    border: 1px solid $c_grey_border;
    padding-left: 35px;
    height: 40px;
    line-height: 40px;
    @include box-shadow(none);
    @include border-radius(4px);

    &:focus {
      outline: none;
      outline-color: transparent;
      outline-style: none;
      -webkit-appearance: none;
      border: 1px solid $c_grey_border;
      @include box-shadow(none);
    }
  }

  .clear {
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 5px;
    display: none;
  }

  &:before {
    display: block;
    position: absolute;
    top: 10px;
    left: 15px;
    content: "\f2f5";
    font-size: 1.3em;
    font-family: 'ionicons';
  }

  &.active {

    input {
      border-color: $c_blue;
    }

    .clear {
      display: block;
      cursor: pointer;
    }
  }
}