aside.left-panel {
  background-color: $c_blue_dark_very;
  color: $c_grey_content_font;
  overflow: hidden;
  outline: none;
  width: 210px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  @media screen and (max-width: $break-small) {
    width: 80px;
  }
}




.logo {
  padding: 12px 25px;
  line-height: 51px;
  height: 51px;
  text-transform: uppercase;

  @media screen and (max-width: $break-small) {
    padding: 0;
    text-align: center;
    width: 80px;
    line-height: 52px;
    height: 52px;
  }

  img{
    vertical-align: middle;
    text-align: left;
    margin-right: 10px;
    margin-top: -12px;

    @media screen and (max-width: $break-small) {
      margin: 0 auto;

    }
  }

  span {
    color: $c_white;
    font-weight: 700;
    font-size: 1.9em;
    letter-spacing: .05em;

    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
}


.navigation {
  margin: 20px 0 20px;
  height: 100%;

  @media screen and (max-width: $break-small) {
    margin-top: 0;

  }

  ul > li {
    position: relative;
    cursor: pointer;
    @include unselectable();

    &.active:hover > a, &.active > a {
      color: $c_blue;
      background: $c_blue_dark_very_much;
    }

    & > a {
      display: block;
      padding: 15px 25px;
      color: $c_grey_font;
      font-size: 15px;
      text-decoration: none;
      font-weight: 400;
      outline: none !important;
      @include transition(all 0.3s);

      @media screen and (max-width: $break-small) {
        width: 80px;
        height: 60px;
        line-height: 60px;
        padding: 0;
        margin: 0;
        text-align: center;
      }

      &:hover{
        color: $c_white;
      }

      .nav-label {
        vertical-align: middle;
      }

      i {
        margin-right: 6px;
        font-size: 18px;
        width: 25px;
        float: left;

        @media screen and (max-width: $break-small) {
          width: 80px;
          height: 60px;
          padding: 0;
          margin: 0;
          text-align: center;
        }
        
      }

      span {
        @media screen and (max-width: $break-small) {
          display: none;
        }
      }
    }

    &.add-tag-btn {
      position: absolute;
      bottom: 0;
      border-top: 1px solid $c_blue_dark_very_much;
      width: 100%;

      i {
        color: $c_blue;
      }
    }
  }
}

