@import "styles/reset";
@import 'http://fonts.googleapis.com/css?family=Roboto:400,500,700,900';
@import "styles/bootstrap-sprockets";
@import "styles/bootstrap";
@import "styles/custom-icons";
@import "node_modules/ionicons/scss/ionicons";
@import "styles/colors";
@import "styles/mixins";
@import "styles/breakpoints";
@import "styles/animations";

html, body {
  box-sizing: border-box;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  line-height: 1;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: $c_white;
  color: $c_grey_content_font;
  overflow-x: hidden;
  font-display: fallback;

  & > div:first-child {
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    & > div {
      height: 100%;
      min-height: 100vh;
    }
  }
}

h1, h2, h3, h4 {
  @include antialiasing(antialiased)
}

ul.dropdown-menu {
  border: 0;
  outline: 0;
  margin-top: 0;
  @include border-radius(2px);
  @include box-shadow(0 2px 6px rgba($c_black, 0.1));

  & a {
    padding: 10px 20px !important;
    color: $c_grey_font_header_links;

    i {
      width: 38px;
      margin-right: 10px;
      text-align: center;
      margin-top: 5px;
    }
  }
}

@import 'styles/buttons';
@import 'home/home';
@import 'global_components/pin_dialog/pin_dialog';
@import 'global_components/modal_dialogs/tag_modal';
@import 'global_components/modal_dialogs/entry_modal';
@import 'global_components/modal_dialogs/pin_modal';
@import 'global_components/modal_dialogs/error_modal';
@import 'global_components/footer/footer';
@import 'dashboard/side_panel/side_panel';
@import 'dashboard/password_table/password_table';
@import 'dashboard/password_table/table_entry/table_entry';
@import 'dashboard/password_table/user_menu/user_menu';
@import 'dashboard/password_table/filter_input/filter_input';
@import 'dashboard/dashboard_layout';
