@import "styles/reset";
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic';
@import "node_modules/ionicons/scss/ionicons";
@import "styles/colors";
@import "styles/mixins";
@import "styles/breakpoints";
@import "styles/animations";

html, body {
  box-sizing: border-box;
  width: 100%;
  min-width: 800px;
  height: 100%;
  min-height: 600px;
  margin: 0;
  line-height: 1;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: $c_grey_bg;
  color: $c_grey_content_font;
  overflow-x: hidden;

  & > div:first-child {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;

    & > div {
      height: 100%;
      min-height: 100%;
    }
  }
}

ul.dropdown-menu {
  border: 0;
  outline: 0;
  margin-top: 0;
  @include border-radius(2px);
  @include box-shadow(0 2px 6px rgba($c_black, 0.1));

  & a {
    padding: 10px 20px !important;
    color: $c_grey_font_header_links;

    i {
      width: 38px;
      margin-right: 10px;
      text-align: center;
      margin-top: 5px;
    }
  }
}

@import "styles/buttons";
@import "home/home";
@import "global_components/modal_dialogs/tag_modal";
@import "global_components/alert_box/alert_box";
@import "global_components/footer/footer";
@import "dashboard/side_panel/side_panel";
@import "dashboard/password_table/password_table";
@import "dashboard/password_table/table_entry/table_entry";
@import "dashboard/password_table/filter_input/filter_input";
@import "dashboard/dashboard_layout";
@import "dashboard/header/header";
