.dashboard-layout {
  min-height: 100vh;
  position: relative;

  & > div {
    height: 100vh;
  }

  @media screen and (min-width: $break-large) {
    margin: 0 auto;
    border-right: 1px solid $c_grey_border;
    @include box-shadow(0px 0px 4px 1px rgba($c_grey_font_header_links, 0.5));
  }
  .loading_dialog {
    height: 100vh;
    text-align: center;
    padding-top: 20vh;

    .spinner {
      height: 50px;
      width: 50px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid $c_white;
      border-right-color: transparent;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
