button, .button {
  background-color: $c_black;
  border: 1px solid $c_black;
  color: $c_white;
  outline: none !important;
  padding: 6px 12px;
  margin-bottom: 5px;
  cursor: pointer;
  @include border-radius(2px);
  @include transition(all 0.2s ease-in-out);

  &.blue-btn {
    background-color: $c_blue;
    border-color: $c_blue;
  }

  &.green-btn {
    background-color: $c_green;
    border-color: $c_green;
  }

  &.red-btn {
    background-color: $c_pink;
    border-color: $c_pink;
  }

  &:disabled {
    opacity: .5;
  }
}

