//
// WHITE
//
$c_white: #fff;

//
//a few shades of GREY
//
$c_grey_bg: #edf0f0;
$c_grey_bg_header_hover: #edf1f2;
$c_grey_border: #ddd;
$c_grey_font: #b4b6bd;
$c_grey_font_header_links: #979898;
$c_grey_content_font: #797979;
$c_grey_content_bg: #797979;


//
// BLACK!
//
$c_black: #000;


//
// BLUE
//
$c_blue: #3498db;
$c_blue_dark: #2c3e50;
$c_blue_dark_very: #1A2942;
$c_blue_dark_very_much: #162338;

//
// GREEN
//
$c_green: #3BC0C3;

//
// PURPLE
//
$c_purple: #716CB0;

//
// YELLOW
//
$c_yellow: #EDC755;

//
// PINK
//
$c_pink: #EF6088;







