.overlay-hill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url("app-images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay-color {
  opacity: .86;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  @include background-gradient(180deg, $c_blue_dark_very_much 13%, $c_blue 100%);
}

.home {
  padding-top: 10%;
  position: relative;
  width: 100%;
  text-align: center;
  color: $c_white;
  font-weight: 100;
  z-index: 2;

  .hidden_dialog {
    display: none;
  }

  .error,
  .accept_dropbox_user,
  .connect_trezor,
  .connect_dropbox,
  .loading_dialog,
  .button_dialog {

    h1 {
      color: $c_white;
      font-size: 2.6em;
      margin-bottom: 25px;

      b {
        font-weight: 700;
        word-spacing: 1px;
      }
    }

    span {
      max-width: 290px;
      color: rgba($c_white, .9);
      font-size: 1.2em;
    }

    img {
      display: inline-block;
      width: 110px;
      height: 110px;
      text-align: center;
      vertical-align: top;
      padding: 3px;
      margin-bottom: 30px;
      border: 2px solid $c_white;
      @include border-radius(50%);
      @include transition(rotate(360deg));

      &.no-circle {
        border: none;
      }
    }

    button {
      background-color: $c_white;
      border: 2px solid $c_white;
      word-spacing: 2px;
      letter-spacing: -.1px;
      color: $c_blue;
      width: auto;
      height: auto;
      padding: 12px 32px;
      display: inline-block;
      line-height: 1.3em;
      font-size: 1.2em;
      font-weight: 400;
      margin: 15px;
      white-space: nowrap;
      @include border-radius(7px);

      &:hover {
        @include box-shadow(0px 0px 10px -1px rgba(0, 0, 0, 0.65));
      }

      span {
        color: $c_blue;
        word-spacing: 2px;
        letter-spacing: -.1px;
      }

      a {
        color: $c_white;

        &:hover {
          color: $c_white;
          text-decoration: underline;
        }
      }

      b {
        font-weight: 600;
        word-spacing: 1px;
      }

      &.no-style {
        background-color: transparent;
        border: none;
        color: $c_white;

        &:hover {
          @include box-shadow(none);
          text-decoration: underline;
        }
      }

      &.dropbox-login {
        padding-left: 60px;
        background: $c_white url(app-images/dropbox-blue.svg) no-repeat 20px 8px;
        background-size: 30px 30px;
      }

      &.accept-btn {
        font-weight: 400;
        font-size: 1em;
      }
    }
  }

  .pin_dialog {
    margin-top: -30px;

    .pin_table_header {
      font-size: 2em;
      color: $c_white;
    }
    .pin_table_subheader {
      margin-top: 10px;
      font-size: 1.09em;
    }

    .pin_password {
      padding: 30px;

      .password_text {
        font-size: 4em;
        line-height: 0;
        vertical-align: middle;
      }

      .blinking_cursor {
        content: '';
        display: inline-block;
        width: 4px;
        height: 36px;
        background-color: $c_white;
        @include animation(1s blink step-end infinite);
      }
    }

    .pin_table {

      button {
        background-color: transparent;
        border: 2px solid $c_white;
        width: 70px;
        height: 70px;
        display: inline-block;
        font-size: 1.7em;
        margin: 5px;
        opacity: .6;
        @include border-radius(7px);

        &:hover {
          @include box-shadow(0px 0px 8px -1px rgba(0, 0, 0, 0.35));
          opacity: 1;
        }

        &.active {
          background-color: $c_white;
          opacity: 1;
        }
      }
    }
    .pin_footer {

      #enter {
        background-color: $c_white;
        border: 2px solid $c_white;
        color: $c_blue;
        font-weight: bold;
        opacity: .9;
        margin-right: 5px;
        width: 152px;
        height: 70px;
        @include border-radius(7px);
      }

      #backspace {
        background-color: transparent;
        border: 2px solid $c_white;
        width: 70px;
        height: 70px;
        font-size: 1.5em;
        opacity: .6;
        margin: 5px;
        @include border-radius(7px);

        &.active {
          background-color: $c_white;
          opacity: 1;
        }
      }
    }
  }
}

.loading_dialog {
  img {
    @include animation(3s rotateplane infinite ease-in-out);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: $c_white;
  }
}

@keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateY(0deg)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(360deg)
  }
}