.entry-modal {

  .modal-content {
    .modal-body {
      .avatar {
        position: relative;
        width: 100px;
        height: 100px;
        float: left;

        & > span {
          width: 100px;
          height: 100px;
        }
      }

      .title {
        float: left;
      }
    }
  }

}