.error-modal-dialog {
  width: 380px;
  text-align: left;
  color: $c_grey_content_bg;

  .modal-content {
    background-color: $c_white;
    @include border-radius(4px);
    padding: 15px 25px 25px 25px;
  }

  .modal-header {
    font-size: 1.4em;
    border-bottom: 0;
    padding-left: 20px;
  }

  .modal-title {
    color: $c_black;
    text-align: center;
    padding-bottom: 10px;
  }

  .modal-body {
    background-color: $c_white;
    height: auto;
    padding: 0 20px 20px 20px;

    p {
      line-height: 130%;
    }

    b {
      color: $c_black;
      font-size: 0.9em;
      text-transform: uppercase;
      font-weight: bold;
    }

    ul {
      counter-reset: numbering;
      padding-top: 5px;

      li {
        line-height: 1.3em;
        padding: 7px 0 7px 0;
        position: relative;
        display: block;
        margin-left: 15px;

        &:before {
          content: counter(numbering) ".";
          counter-increment: numbering;
          position: absolute;
          left: -15px;
        }
      }
    }
  }

  .btn-controls {
    padding: 0 10px;

    button,
    a.button {
      text-align: center;
      display: block;
      width: 100%;
      position: relative;
      @include transition(all 0.3s ease-in-out);
    }
  }
}
