.import-modal-dialog {
  width: 960px;
  max-width: 100%;
  text-align: left;
  color: $c_grey_content_bg;

  .modal-content {
    background-color: $c_white;
    @include border-radius(4px);

    .table {
      th {
        text-align: center;
        vertical-align: middle;

        span {
          font-weight: bold;
        }
      }

      td {
        .spinner {
          width: 10px;
          height: 10px;
          border-width: 2px;
        }

        &:last-child {
          text-align: center;
        }
      }

      .form-control {
        min-width: 50px;
      }
    }

    .file-form {
      #drop-area {
        padding: 60px 30px;
        background: $c_grey_bg;
        border: 4px dashed $c_grey_border;
        @include border-radius(5px);
        text-align: center;
        font-size: 1.5em;
        line-height: 2em;
        color: $c_blue;

        &.active {
          border-color: $c_grey_content_bg;
        }

        input[type="file"] {
          display: inline-block;
          width: 180px;
          font-size: 15px;
          line-height: 15px;
          color: $c_black;
        }
      }
    }

    .help {
      margin-bottom: 20px;
      color: $c_blue;
      font-size: 1.4em;
      text-align: center;
    }
  }

  .modal-header {
    border-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;

    .close {
      margin: 0;
      padding: 2px 10px;
      position: absolute;
      right: 10px;
    }
  }

  .modal-title {
    color: $c_black;
    text-align: center;
    font-size: 1.5em;
  }

  .modal-body {
    background-color: $c_white;
    height: auto;
    padding: 0 20px 20px 20px;

    .storage_content {
      + .well {
        margin-top: 20px;
      }
    }

    .well {
      margin-bottom: 0;
      overflow: scroll;
    }

    .well-success {
      background-color: #2876cd;
      border-color: #2876cd;
      color: #fff;
    }

    .loading {
      text-align: center;
    }

    tr {
      &.importing {
        td {
          background: none;

          &:last-child {
            color: $c_blue;
          }
        }
      }

      &.success {
        td {
          background: none;

          .success {
            color: $c_blue;
          }
        }
      }

      &.warning {
        td {
          background: none;

          .warning {
            font-size: 0.9em;
            color: $c_red;
          }
        }
      }

      th {
        border-width: 1px;

        &.status-col {
          width: 120px;
        }
      }

      td {
        .icon {
          display: inline-block;
          vertical-align: bottom;
        }

        .success {
          font-size: 1em;
          color: $c_green;

          .icon {
            font-size: 1.4em;
          }
        }
      }
    }


    .spinner {
      content: '';
      height: 50px;
      width: 50px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid $c_blue;
      border-right-color: transparent;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}