.import-modal-dialog {
  width: 860px;
  max-width: 100%;
  text-align: left;
  color: $c_grey_content_bg;

  .modal-content {
    background-color: $c_white;
    @include border-radius(4px);

    .table {
      margin-bottom: 0;

      th {
        border: none;
        text-align: center;
        vertical-align: middle;

        span {
          font-weight: bold;
        }
      }

      td {
        border: none;
        padding: 6px 10px;
        font-size: 12px;

        .spinner {
          width: 10px;
          height: 10px;
          border-width: 2px;
        }

        &:last-child {
          text-align: center;

          img {
            width: 10px;
            height: 10px;
          }
        }

        span {
          .icon {
            font-size: 0.65em;
            padding: 0 3px 2px 0;
          }
        }
      }

      .form-control {
        min-width: 50px;
      }
    }

    .file-form {
      #drop-area {
        padding: 60px 30px;
        border: 1px dashed $c_grey_font;
        @include border-radius(5px);
        text-align: center;
        font-size: 12px;
        line-height: 2em;
        color: $c_grey_content_font;
        margin: 20px 70px 35px;

        label {
          font-weight: normal;
        }

        &.active {
          border-color: $c_black;
        }

        img {
          margin-bottom: 10px;
        }

        a {
          color: $c_blue;
          text-decoration: underline;
        }
      }
    }

    .help {
      margin-bottom: 20px;
      color: $c_grey_content_font;
      font-size: 12px;
      text-align: center;
    }
  }

  .modal-header {
    border-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;

    .close {
      margin: 0;
      padding: 2px 10px;
      position: absolute;
      top: 25px;
      right: 25px;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .modal-title {
    color: $c_black;
    text-align: center;
    font-size: 16px;
    margin: 20px 0 0;
    font-weight: bold;
  }

  .modal-body {
    background-color: $c_white;
    height: auto;
    padding: 0 25px 15px 20px;

    .storage_content {
      + .well {
        margin-top: 20px;
      }
    }

    .well {
      margin-bottom: 0;
      overflow: scroll;
    }

    .loading {
      text-align: center;
    }

    tr {
      &.importing {
        td {
          background: none;

          &:last-child {
            color: $c_blue;
          }
        }
      }

      &.success {
        td {
          background: none;
        }
      }

      &.warning {
        td {
          background: none;

          .warning {
            font-size: 0.9em;
            color: $c_red;
          }
        }
      }

      th {
        border-width: 1px;

        &.status-col {
          width: 50px;

          span {
            font-weight: normal;
            font-size: 12px;
          }
        }

        .dropdown-toggle {
          text-align: left;
          padding-right: 25px;
          background: #f5f5f5;
          border: none;

          span {
            font-weight: normal;
          }

          span:last-child {
            position: absolute;
            right: 5px;
            top: 6px;
          }
        }
      }

      td {
        .icon {
          display: inline-block;
          vertical-align: bottom;
        }

        .success {
          font-size: 1em;
          color: $c_green;

          .icon {
            font-size: 1.4em;
          }
        }
      }
    }


    .spinner {
      content: '';
      height: 50px;
      width: 50px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid $c_blue;
      border-right-color: transparent;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .modal-footer {
    border: none;
    padding: 25px;

    .checkbox {
      margin-top: 12px;
    }

    .blue-btn {
      margin: 0 0 0 10px;
    }

    .info {
      color: $c_blue;
      font-size: 12px;
      margin-right: 20px;

      .icon {
        font-size: 16px;
      }
    }
  }
}