.import-modal-dialog {
  width: 960px;
  max-width: 100%;
  text-align: left;
  color: $c_grey_content_bg;

  .modal-content {
    background-color: $c_white;
    @include border-radius(4px);

    .table {
      th {
        text-align: center;
        vertical-align: middle;

        span {
          font-weight: bold;
        }
      }

      td {
        .spinner {
          width: 15px;
          height: 15px;
        }
      }
    }

    .file-form {
      #drop-area {
        padding: 60px 30px;
        background: $c_grey_bg;
        border: 4px dashed $c_grey_border;
        @include border-radius(5px);
        text-align: center;
        font-size: 1.5em;
        line-height: 2em;

        &.active {
          border-color: $c_grey_content_bg;
        }

        input[type="file"] {
          display: inline-block;
          width: 200px;
          font-size: 15px;
          line-height: 15px;
        }
      }
    }
  }

  .modal-header {
    font-size: 1.4em;
    border-bottom: 0;
    padding-left: 20px;
  }

  .modal-title {
    color: $c_black;
    text-align: center;
  }

  .modal-body {
    background-color: $c_white;
    height: auto;
    padding: 0 20px 20px 20px;

    .loading {
      text-align: center;
    }

    td {
      .icon {
        float: left;
      }

      .success {
        font-size: 1em;
        color: $c_green;

        .icon {
          font-size: 1.4em;
        }
      }
    }

    .spinner {
      content: '';
      height: 50px;
      width: 50px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid $c_blue;
      border-right-color: transparent;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}