.pin-modal-dialog {
  width: 320px;
  text-align: center;

  .modal-body {
    margin-top: 30px;
    background-color: $c_blue_dark_very;
    height: auto;
  }

  .pin_dialog {
    padding-top: 30px;
  }

  .pin_footer {
    padding-bottom: 30px;
  }
}
