aside.left-panel {
  color: $c_grey_content_font;
  outline: none;
  width: 250px;
  position: fixed;
  min-height: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 100;
  background: url("app-images/nav-bg.png") no-repeat center top fixed;
  background-size: 100% 100%;

  @include box-shadow(0 2px 6px rgba(0, 0, 0, 0.1));

  @media screen and (max-width: $break-small) {
    width: 80px;
  }
  @media screen and (min-width: $break-large) {
    position: fixed;
    left: auto;
    bottom: 0;
    top: 0;
  }
}

.logo {
  padding: 24px 28px;
  line-height: 51px;
  height: 81px;
  border-bottom: 1px solid rgba(255, 255, 255, .10);

  @media screen and (max-width: $break-small) {
    padding: 0;
    text-align: center;
    width: 80px;
    line-height: 52px;
    height: 52px;
  }

  img {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    float: left;
    margin-right: 10px;
    height: 34px;

    @media screen and (max-width: $break-small) {
      margin: 0 auto;

    }
  }
}

.navigation {
  margin: 0;

  @media screen and (max-width: $break-small) {
    margin-top: 0;

  }

  ul {
    margin: 0;
  }

  ul li.fadeIn {
    opacity: 0;
  }

  @for $i from 1 through 30 {
    ul li.fadeIn:nth-child(#{$i}) {
      animation: fadeIn .2s ease (#{$i*0.1s});
      animation-fill-mode: forwards;
    }
  }

  ul.list-unstyled > li:first-child {

    &:after {
      content: 'TAGS';
      display: block;
      padding: 20px 0 10px 28px;
      font-size: 12px;
      color: rgba($c_white, .7);
    }
  }

  ul > li {
    position: relative;
    cursor: pointer;
    float: left;
    clear: both;
    width: 100%;
    @include unselectable();

    &.active:hover > a, &.active > a {
      color: $c_white;
      background: rgba(0,0,0,.20);
    }

    & > a {
      display: block;
      padding: 14px 24px;
      color: $c_white;
      font-size: 15px;
      text-decoration: none;
      font-weight: 400;
      outline: none !important;
      @include transition(all 0.3s);

      @media screen and (max-width: $break-small) {
        width: 80px;
        height: 60px;
        line-height: 60px;
        padding: 0;
        margin: 0;
        text-align: center;
      }

      &:hover {
        color: $c_white;
        background: rgba($c_white,.1);
      }

      .nav-label {
        vertical-align: middle;
      }

      i {
        margin-right: 6px;
        margin-top: 1px;
        font-size: 24px;
        width: 25px;
        float: left;

        @media screen and (max-width: $break-small) {
          width: 80px;
          height: 60px;
          padding: 0;
          margin: 0;
          text-align: center;
        }

      }

      span {
        display: inline-block;
        line-height: 24px;

        @media screen and (max-width: $break-small) {
          display: none;
        }
      }
    }

    &.active:hover > .dropdown, &.active > .dropdown {
      display: block;
    }

    .dropdown {
      display: none;
      position: relative;
      float: right;
      margin-top: -52px;
      width: 45px;
      height: 52px;
      transition: all 300ms;

      &.open {
        transition: all 300ms;
        margin-bottom: 74px;

        & > .dropdown-toggle {
          background: transparent;

          &:after {
            color: $c_white !important;
          }
        }

        & > .dropdown-menu {
          width: 250px;
          background: rgba(0,0,0,.20);
          padding: 0;
          @include border-radius(0);

          & > li > a {
            font-size: .9em;
            padding-left: 30px !important;

            &:hover {
              background: rgba($c_white,.1);
            }

            & > i {
              margin-top: -3px;
            }
          }
        }

      }

      button.dropdown {
        display: block;
        width: 45px;
        text-align: right;
        height: 52px;
        margin-top: 0;
        line-height: 52px;
        font-size: 1.2em;
        padding: 0;
        color: $c_white;
        background-color: transparent;
        border: 0;
        outline: 0;
        @include box-shadow(none);
        @include border-radius(0);

        &:active, &:focus, .btn-group.open .dropdown-toggle {
          @include box-shadow(none);
        }

        &.edit:after {
          display: block;
          color: $c_white;
          width: 45px;
          height: 52px;
          line-height: 52px;
          text-align: center;
          content: "\f20b";
          font-size: 1em;
          font-family: 'ionicons' !important;
        }
      }
    }

    &.add-tag-btn {
      vertical-align: middle;
      padding-left: 15px;
      margin-top: 15px;
      margin-bottom: 15px;

      a {
        padding: 0 0 0 40px;
        background: rgba(255,255,255,.10);
        width: 220px;
        height: 40px;
        line-height: 31px;
        @include border-radius(20px);

        &:hover {
          background: rgba(255,255,255,.20);
        }

        span {
          margin-top: 4px;
          line-height: 31px;
        }

        i {
          color: $c_white;
          font-size: 40px;
          position: absolute;
          top: 0;
          left: 16px;
        }

      }
    }
  }
}

