@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: $c_white;
  }
}

@keyframes rotateplane {
  0% {
    -webkit-transform: rotateY(0deg)
  }
  50% {
    -webkit-transform: rotateY(90deg)
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}