button, .button {
  background-color: $c_black;
  border: 1px solid $c_black;
  color: $c_white;
  outline: none !important;
  padding: 10px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  line-height: 20px;
  font-size: 12px;
  @include border-radius(3px);
  @include transition(all 0.2s ease-in-out);

  &.icon {
    span {
      padding-left: 8px;
    }
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  &.shadow {
    &:hover {
      @include box-shadow(0px 4px 6px 0 hsla(0, 0%, 0%, 0.2));
    }
  }

  &.blue-btn {
    background-color: $c_blue !important;
    border-color: $c_blue !important;
    color: $c_white;
    @include transition(none);

    &:hover {
      color: $c_white;
    }
  }

  &.green-btn {
    background-color: $c_green !important;
    border-color: $c_green !important;
    color: $c_white;

    &:hover {
      color: $c_white;
    }
  }

  &.red-btn {
    background-color: $c_red !important;
    border-color: $c_red !important;
    color: $c_white;

    &:hover {
      color: $c_white;
    }
  }

  &.black-btn {
    background: #000 !important;
    border-color: #000 !important;
    color: $c_grey_content_font;

    &:hover {
      color: $c_white;
    }
  }

  &.transparent-btn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: $c_grey_content_font;
    @include transition(none);

    &:hover {
      background-color: $c_white !important;
      border-color: $c_white !important;
      color: $c_black;
    }
  }

  &.half-transparent {
    background-color: rgba($c_white, .25) !important;
    color: $c_white !important;
    border: none !important;

    &:hover {
      @include box-shadow(none !important);
      text-decoration: underline !important;
      background-color: rgba($c_white, .45) !important;
    }
  }

  &.transblue-btn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: $c_blue;
    @include transition(none);

    &:hover {
      background-color: $c_white !important;
      border-color: transparent !important;
      color: $c_blue;
    }
  }

  &.white-btn {
    background-color: $c_white !important;
    border-color: rgba($c_grey_content_font, .6) !important;
    color: $c_grey_content_font !important;
    @include transition(none);

    &:hover {
      color: $c_black !important;
      border-color: $c_grey_content_font !important;
    }
  }

  &:disabled {
    opacity: .5;
  }

  &.btn {
    font-size: 12px;
  }

  &.btn-link {
    color: $c_grey_content_font;
  }
}

