//
// WHITE
//
$c_white: #fff;

//
//a few shades of GREY
//
$c_grey_bg: #f6f7f8;
$c_grey_bg_header_hover: #edf1f2;
$c_grey_border: #e9e9e9;
$c_grey_font: #b4b6bd;
$c_grey_font_header_links: #979898;
$c_grey_content_font: #797979;
$c_grey_content_bg: #797979;

$c_black_font: #424242;

//
// BLACK!
//
$c_black: #494949;

//
// BLUE
//
$c_blue: #2777cd;
$c_blue_dark: #2c3e50;
$c_blue_dark_very: #1a2942;
$c_blue_dark_very_much: #162338;

//
// RED
//
$c_red: #e93c34;

//
// GREEN
//
$c_green: #01b757;

//
// PINK
//
$c_pink: #ef6088;
