@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?awi1za');
  src: url('../fonts/icomoon.eot?awi1za#iefix') format("embedded-opentype"), url('../fonts/icomoon.ttf?awi1za') format("truetype"), url('../fonts/icomoon.woff?awi1za') format("woff"), url('../fonts/icomoon.svg?awi1za#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e91f";
}
.icon-earth:before {
  content: "\e901";
}
.icon-card:before {
  content: "\e921";
}
.icon-android-cart:before {
  content: "\e922";
}
.icon-work:before {
  content: "\e923";
}
.icon-add:before {
  content: "\e924";
}
.icon-settings:before {
  content: "\e925";
}
.icon-heart:before {
  content: "\e926";
}
.icon-star:before {
  content: "\e927";
}
.icon-chat:before {
  content: "\e928";
}
.icon-image:before {
  content: "\e929";
}
.icon-edit:before {
  content: "\e92a";
}
.icon-cloud:before {
  content: "\e92b";
}
.icon-person:before {
  content: "\e92c";
}
.icon-person-stalker:before {
  content: "\e92d";
}
.icon-alert-circled:before {
  content: "\e92e";
}
.icon-wifi:before {
  content: "\e92f";
}
.icon-sound:before {
  content: "\e930";
}
.icon-email:before {
  content: "\e931";
}
.icon-flag:before {
  content: "\e932";
}
.icon-device:before {
  content: "\e933";
}
.icon-dots:before {
  content: "\e934";
}
.icon-close:before {
  content: "\e935";
}
.icon-show:before {
  content: "\e936";
}
.icon-search:before {
  content: "\e937";
}
.icon-alphabet:before {
  content: "\e938";
}
.icon-calendar:before {
  content: "\e939";
}
.icon-arrow:before {
  content: "\e93a";
}
.icon-mailbox:before {
  content: "\e93b";
}
.icon-social-bitcoin:before {
  content: "\e93c";
}
.icon-game:before {
  content: "\e900";
}
.icon-connect:before {
  content: "\e902";
}
.icon-Require:before {
  content: "\e903";
}