.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  @include cover-background("app-images/content-bg.png");
}

.home {
  padding-top: 10%;
  position: relative;
  width: 100%;
  text-align: center;
  color: $c_white;
  z-index: 2;

  .hidden_dialog {
    display: none;
  }

  .preloading,
  .accept_user,
  .connect_trezor,
  .connect_storage,
  .loading_dialog,
  .button_dialog {

    .spinner {
      height: 50px;
      width: 50px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid $c_white;
      border-right-color: transparent;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }

    i {
      display: block;
      margin-top: -20px;
    }

    h1 {
      color: $c_white;
      font-size: 2.6em;
      margin-bottom: 25px;

      b {
        font-weight: 900;
        word-spacing: 1px;
      }

      span {
        font-weight: normal;
      }
    }

    span {
      max-width: 290px;
      color: rgba($c_white, .9);
      font-size: 1.2em;
    }

    img {
      display: inline-block;
      width: 110px;
      text-align: center;
      vertical-align: top;
      padding: 3px;
      margin-bottom: 30px;
      @include transition(rotate(360deg));

      &.no-circle {
        border: none;
      }
    }

    button {
      background-color: $c_white;
      border: 2px solid $c_white;
      word-spacing: 2px;
      letter-spacing: -.1px;
      color: $c_blue;
      width: auto;
      height: auto;
      padding: 12px 32px;
      display: inline-block;
      line-height: 1.3em;
      font-size: 1.2em;
      font-weight: 400;
      margin: 15px;
      white-space: nowrap;
      @include border-radius(4px);

      &:hover {
        @include box-shadow(0px 0px 10px -1px rgba(0, 0, 0, 0.65));
      }

      span {
        color: $c_blue;
        word-spacing: 2px;
        letter-spacing: -.1px;
      }

      a {
        color: $c_white;

        &:hover {
          color: $c_white;
          text-decoration: underline;
        }
      }

      b {
        font-weight: 600;
        word-spacing: 1px;
      }

      &.no-style {
        background-color: transparent;
        border: none;
        color: $c_white;

        &:hover {
          @include box-shadow(none);
          text-decoration: underline;
        }
      }

      &.dropbox-login {
        width: 240px;
        padding-left: 60px;
        background: $c_white url(app-images/dropbox-blue.svg) no-repeat 20px 8px;
        background-size: 30px 30px;
      }

      &.drive-login {
        width: 240px;
        padding-left: 45px;
        background: $c_white url(app-images/drive-blue.svg) no-repeat 20px 8px;
        background-size: 28px 28px;
      }

      &.accept-btn {
        font-weight: 400;
        font-size: 1em;
      }
    }

    ol {
      text-align: left;
      width: 300px;
      display: block;
      list-style-type: decimal;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 40px;
      margin: 0 auto;

      li {
        margin-top: 10px;
        margin-bottom: 5px;
      }

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }

  .preloading,
  .connect_storage {
    img {
      width: 240px;
    }
  }
}

.loading_dialog {

  .spinner {
    width: 90px !important;
    height: 90px !important;
    margin-bottom: 20px;
    border-width: 3px !important;
  }

  img {
    @include animation(.75s rotateplane infinite ease-in-out);
  }
}
