.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  @include cover-background("app-images/content-bg.png");
}

.home {
  padding-top: 20vh;
  position: relative;
  width: 100%;
  text-align: center;
  color: $c_white;
  z-index: 2;

  .hidden_dialog {
    display: none;
  }

  .preloading,
  .accept_user,
  .connect_storage,
  .loading_dialog,
  .button_dialog {

    .spinner {
      height: 50px;
      width: 50px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid $c_white;
      border-right-color: transparent;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }

    i {
      display: block;
      margin-top: -20px;
    }

    h1 {
      color: $c_white;
      font-size: 2.6em;
      margin-bottom: 25px;

      b {
        font-weight: 900;
        word-spacing: 1px;
      }

      span {
        font-weight: normal;
      }
    }

    h3 {
      font-weight: 400;
      margin-top: 10px;

      b {
        display: inline-block;
        position: relative;
        font-weight: 900;
        cursor: pointer;
        @include unselectable();

        &:hover {
          text-decoration: underline;
        }

        &:after {
          // TO DO - better asap!
          position: absolute;
          right: -30px;
          top: 0;
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          font-size: 1.3em;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\e93a";
          color: white;
          border: none;
        }
      }
    }

    span {
      max-width: 290px;
      color: rgba($c_white, .7);
      font-size: 1.1em;
      font-weight: 400;
    }

    .desc {
      position: relative;
      display: block;
      margin: 10px 0;
      color: rgba($c_white, .7);

      a {
        color: rgba($c_white, .7);
        text-decoration: underline;
      }
    }

    .dev-list {
      border: 1px solid rgba($c_white, .45);
      display: block;
      width: 320px;
      margin: 0 auto;
      margin-top: 20px;
      text-align: left;
      @include border-radius(4px);

      li:last-child a {
        border: 0;
      }

      li a {
        display: block;
        position: relative;
        padding: 20px 0 20px 50px;
        width: 100%;
        border-bottom: 1px solid rgba($c_white, .45);

        &:hover {
          text-decoration: none;
          background-color: rgba($c_white, .30);
          cursor: pointer;
        }

        .icon {
          &.t1:after {
            content: '';
            position: absolute;
            display: block;
            width: 24px;
            height: 40px;
            z-index: 2;
            left: 15px;
            top: 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 30px;
            background-image: url(app-images/t1.png);
          }
          &.t2:after {
            content: '';
            position: absolute;
            display: block;
            width: 24px;
            height: 40px;
            z-index: 2;
            left: 15px;
            top: 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 30px;
            background-image: url(app-images/t2.png);
          }
          &.tunknown:after {
            content: '';
            position: absolute;
            display: block;
            width: 24px;
            height: 40px;
            z-index: 2;
            left: 15px;
            top: 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 30px;
            background-image: url(app-images/tunknown.png);
          }
        }
      }
    }

    span.connect_trezor {
      display: block;
      margin: 0 auto;
      height: 60px;
      line-height: 60px;
      margin-bottom: 5px;
      color: $c_white;
      @include animation(1.5s pulsate infinite ease-in-out);
      img {
        margin-top: 12px;
        width: 20px;
        color: $c_white;
      }
      
      &.inline {
        display: inline-block;
        margin-right: 10px;
      }
    }

    img {
      display: inline-block;
      width: 110px;
      text-align: center;
      vertical-align: top;
      padding: 3px;
      @include transition(rotate(360deg));

      &.no-circle {
        border: none;
      }

      &.spaced {
        margin-bottom: 30px;
      }
    }

    button {
      background-color: $c_white;
      border: 2px solid $c_white;
      word-spacing: 2px;
      letter-spacing: -.1px;
      color: $c_blue;
      width: auto;
      height: auto;
      padding: 12px 32px;
      display: inline-block;
      line-height: 1.3em;
      font-size: 1.2em;
      font-weight: 400;
      margin: 15px;
      white-space: nowrap;
      @include border-radius(4px);

      &:hover {
        @include box-shadow(0px 0px 10px -1px rgba(0, 0, 0, 0.65));
      }

      span {
        color: $c_blue;
        word-spacing: 2px;
        letter-spacing: -.1px;
      }

      a {
        color: $c_white;

        &:hover {
          color: $c_white;
          text-decoration: underline;
        }
      }

      b {
        font-weight: 600;
        word-spacing: 1px;
      }

      &.no-style {
        margin: 10px 0 20px 0;
      }

      &.dropbox-login {
        width: 240px;
        padding-left: 60px;
        background: $c_white url(app-images/dropbox-blue.svg) no-repeat 20px 8px;
        background-size: 30px 30px;
      }

      &.drive-login {
        width: 240px;
        padding-left: 45px;
        background: $c_white url(app-images/drive-blue.svg) no-repeat 20px 8px;
        background-size: 28px 28px;
      }

      &.accept-btn {
        font-weight: 400;
        font-size: 1em;
      }

      &.webusb {
        position: relative;
        overflow: hidden;
        margin-left: 10px;

        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          z-index: 1;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }

    ol {
      text-align: left;
      width: 300px;
      display: block;
      list-style-type: decimal;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 40px;
      margin: 0 auto;

      li {
        margin-top: 10px;
        margin-bottom: 5px;
      }

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }

  .button_dialog {
    .icon {
      font-size: 5em;
      display: block;
      position: relative;
      margin: 0 auto;
    }
    small {
      color: rgba($c_white, .7);
    }
    .badge {
      color: $c_white;
      padding: 5px 15px;
      background: rgba($c_black_font, .7);
    }
  }

  .preloading,
  .connect_storage {
    img {
      width: 240px;
    }
  }
}

.loading_dialog {

  .spinner {
    width: 90px !important;
    height: 90px !important;
    margin-bottom: 20px;
    border-width: 3px !important;
  }

  img {
    @include animation(.3s rotateplane infinite ease-in-out);
  }
}
