$c_white: #fff;

$c_font_grey: #b4b6bd;
$c_font_title_grey: #797979;
$c_font_active_green: #3bc0c3;

$c_blue_light: #3498db;
$c_blue_dark: #2c3e50;

$c_content_white_bg: #fff;
$c_content_grey_bg: #797979;
$c_content_dark_blue_bg: #1A2942;
$c_content_dark_blue_active_bg: #162338;

$c_content_bg: #edf0f0;

$c_black: #000;


