@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin background-gradient($deg, $val1, $val2) {
  background: -webkit-linear-gradient($deg, $val1, $val2);
  background: -moz-linear-gradient($deg, $val1, $val2);
  background: -ms-linear-gradient($deg, $val1, $val2);
  background: -o-linear-gradient($deg, $val1, $val2);
  background: linear-gradient($deg, $val1, $val2);
}

@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin box-shadow($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  -o-box-shadow: $val;
  box-shadow: $val;
}

@mixin appearance-none() {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

@mixin transition($val) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -o-transform: $val;
  transform: $val;
}

@mixin box-sizing($val) {
  -webkit-box-sizing: $val;
  -moz-box-sizing: $val;
  box-sizing: $val;
}

@mixin transition-delay($val) {
  -webkit-transition-delay: $val;
  -moz-transition-delay: $val;
  -o-transition-delay: $val;
  transition-delay: $val;
}


@mixin z-depth-1() {
  @include shadows(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
}

@mixin z-depth-2() {
  @include shadows(0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
}

@mixin z-depth-3() {
  @include shadows(0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19));
}

@mixin z-depth-4() {
  @include shadows(0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21));
}

@mixin z-depth-5() {
  @include shadows(0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22));
}