
.dashboard {
  width: 100%;
  padding: 0;
  border: none;
  border-top: 1px solid $c_grey_border;
  background-color: $c_white;
  margin: 0 0 20px 0;

  .card {
    position: relative;
    display: block;
    margin-bottom: -15px;

    &.waiting {
      .backface {

        @include backface-visibility(visible);
        @include transform(rotateX(0deg));

        .text {
          .spinner {
            height: 45px;
            width: 45px;
            animation: rotate 0.8s infinite linear;
            border: 5px solid $c_blue;
            border-right-color: transparent;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
          }
        }
      }

      .entry {
        @include backface-visibility(hidden);
        @include transform(rotateX(180deg));
      }
    }

    .backface {
      @include backface-visibility(hidden);
      @include transform(rotateX(180deg));
      @include transition(all 150ms ease-in-out);
      @include transform-style(preserve-3d);

      .text {
        position: relative;
        top: -50px;
        left: 30px;
        color: $c_grey_content_font;
      }

    }

    .entry {
      display: block;
      position: relative;
      @include backface-visibility(visible);
      @include transform(rotateX(0deg));
      @include transition(all 150ms ease-in-out);
      @include transform-style(preserve-3d);

      .avatar {
        display: inline-block;
        position: relative;
        margin: 10px;
        width: 50px;
        height: 50px;
        float: left;
        background-color: rgba($c_grey_content_font, .4);
        @include transition(all 50ms ease-in-out);
        @include border-radius(2px);

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 50px;
          @include border-radius(2px);
        }

        i {
          font-size: 1.5em;
          color: $c_white;
          text-align: center;
          width: 100%;
          line-height: 50px;
          vertical-align: middle;
          display: inline-block;
          @include transition(all 50ms ease-in-out);
        }
      }

      .password {
        .button {
          position: relative;
          z-index: 2;
          display: inline-block;
          text-align: center;
          width: 27px;
          height: 27px;
          padding: 0;
          margin: 0 0 0 6px;
          line-height: 27px;
          border-color: rgba($c_grey_content_font, .1);
          background-color: $c_white;
          color: $c_grey_content_font;
          @include unselectable();
        }
      }

      &.list-mode {

        &:hover {
          background: rgba($c_grey_bg, .5);

          .title {
            color: $c_grey_content_font;
          }

          .username {
            color: rgba($c_grey_content_font, .8);
          }
        }

        .title {
          padding-top: 5px;
          font-size: 1.4em;
          @include transition(all 50ms ease-in-out);
          color: rgba($c_grey_content_font, 1);

          span {
            display: inline-block;
            width: 0;
            overflow: hidden;
          }
        }

        .username {
          padding-top: 0;
          font-size: 1.05em;
          color: rgba($c_grey_content_font, .6);

          span {
            display: inline-block;
            width: 0;
            overflow: hidden;
          }
        }

        .password, .tags, .note {
          display: none;
        }

        .title, .username {
          input {
            width: 100%;
            max-width: 280px;
            background: transparent;
            border: none;
            outline: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include appearance-none();

            &:focus, &:active {
              @include appearance-none();
            }
          }
        }

        .available-tags {
          display: none;
        }
      }
      &:hover {
        .form-buttons {
          visibility: visible;
        }
      }

      .form-buttons {
        position: absolute;
        visibility: hidden;
        top: 20px;
        right: 20px;
        width: 50px;
        height: 150px;

        .btn {
          display: block;
          position: absolute;
          width: 30px;
          height: 30px;
          border: 1px solid transparent;
          line-height: 30px;
          text-align: center;
          cursor: pointer;
          overflow: hidden;
          @include unselectable();
          @include transition(all 0.2s ease-in-out);

          &:hover {
            color: $c_grey_content_font;
            border: 1px solid rgba($c_grey_content_font, .1);
            background: $c_white;
            @include box-shadow(0px 0px 4px -1px rgba($c_grey_font, 0.5));
          }

          i {
            font-size: 1.2em;
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;

            &:after {
              font-family: 'ionicons' !important;
              color: rgba($c_grey_content_font, .5);
            }
          }

          &.lock-btn {
            top: 0;
            right: 0;
            i:after {
              content: "\f457";

            }
            &:hover {
              i:after {
                content: "\f4c8";
                color: $c_grey_content_font;
              }
            }
          }

          &.open-tab-btn {
            top: 0;
            right: 80px;
            i:after {
              content: "\f39c";

            }
            &:hover {
              i:after {
                content: "\f39c";
                color: $c_grey_content_font;
              }
            }
          }

          &.clipboard-btn {
            top: 0;
            right: 40px;
            i:after {
              content: "\f41b";

            }
            &:hover {
              i:after {
                content: "\f41b";
                color: $c_grey_content_font;
              }
            }
          }
        }

        .dropdown {
          position: absolute;
          right: -150px;
          top: 40px;
          @include transition(all 0.2s ease-in-out);

          button {
            width: 30px;
            height: 30px;
            background-color: transparent;
            border: 1px solid rgba($c_grey_content_font, .1);
            outline: 0;
            @include box-shadow(none);
            @include border-radius(4px);

            &:hover:after {
              color: $c_grey_content_font;
              @include transition(all 0.2s ease-in-out);
            }

            &:after {
              position: absolute;
              right: 7px;
              bottom: -2px;
              display: block;
              color: rgba($c_grey_content_font, .5);
              content: "\f43c";
              font-size: 1.2em;
              font-family: 'ionicons' !important;
              @include transition(all 0.2s ease-in-out);
            }
          }
        }

        .content-btns {
          position: absolute;
          margin-top: 10px;
          right: -250px;
          @include transition(all 0.2s ease-in-out);

          .button {
            margin-left: 10px;
          }
        }

      }

      &.edited {

        .form-buttons {

          .lock-btn {
            right: -150px;
          }

          .content-btns {
            right: 0;
          }

        }

      }

      &.edit-mode {
        border-top: 1px solid rgba($c_grey_content_font, .1);
        border-bottom: 1px solid rgba($c_grey_content_font, .1);
        box-shadow: inset 0 2px 10px rgba($c_grey_bg, .3), inset 0px -2px 10px rgba($c_grey_bg, .3);
        min-height: 180px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: default;

        .title {
          padding-top: 10px;
        }

        .title, .username, .password, .tags, .note {
          color: $c_grey_content_font;
          padding-bottom: 3px;
          margin-bottom: 3px;
          z-index: 1;

          span {
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            width: 70px;
            font-size: .8em;
            font-weight: bold;
          }

          input, textarea, span.tagsinput {
            display: inline-block;
            border: none;
            width: 100%;
            max-width: 210px;
            padding: 5px 7px;
            background-color: rgba($c_grey_bg_header_hover, .9);
            outline: none;
            font-size: 1.1em;
            @include border-radius(2px);
          }

          .tagsinput {
            padding: 1px !important;
            min-height: 27px;

            span.tagsinput-tag {
              width: auto;
              float: left;
              color: $c_white;
              background-color: $c_grey_font;
              padding: 4px 7px 4px 7px !important;
              margin: 2px 1px 2px 2px;
              cursor: pointer;
              @include border-radius(2px);

              span {
                width: auto;
                padding-right: 4px;
              }

              i {
                font-size: .8em;
              }

              &:hover {
                background-color: $c_grey_font_header_links;
              }
            }

            span.tagsinput-input {
              cursor: pointer;
              border: 1px dashed $c_grey_font;
              padding: 3px 7px 3px 7px !important;
              margin: 2px 1px 2px 2px;
              width: auto !important;
              max-width: none !important;
              float: left !important;;
              @include border-radius(2px);
              @include unselectable();
            }
          }
        }

        .available-tags {
          position: relative;
          display: block;
          padding: 0 0 4px 200px;
          margin-top: -5px;
          width: 410px;

          span.tagsinput-available-tag {
            display: inline-block;
            line-height: 1.6em;
            font-style: italic;
            color: rgba(#3498db, .8);
            padding-right: 7px;
            cursor: pointer;

            &:hover {
              color: #3498db;
              text-decoration: underline;
            }

          }
        }

        .avatar {
          width: 100px;
          height: 100px;
          margin-right: 20px;

          i {
            line-height: 100px;
            font-size: 3em;
            @include transition(all 50ms ease-in-out);
          }
        }

        .note {
          padding-left: 130px;

          span {
            vertical-align: top;
            padding-top: 6px;
          }
          textarea {
            resize: none;
          }
        }

        .form-buttons {
          visibility: visible;
          
          .lock-btn {
            @include transform(rotateY(180deg));
            border: 1px solid rgba($c_grey_content_font, .1);

            i:after {
              content: "\f4c8";
              color: $c_grey_content_font;
            }
            &:hover {
              i:after {
                content: "\f457";
                color: $c_grey_content_font;
              }
            }
          }

          .open-tab-btn {
            right: -150px;
          }
          
          .clipboard-btn {
            right: -180px;
          }

          .dropdown {
            right: 30px;
            @include transition(all 0.2s ease-in-out);

            &:hover {
              @include box-shadow(0px 0px 4px -1px rgba($c_grey_font, 0.5));
            }
          }
        }
      }

      .submit-btn {
        display: none;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}