
.dashboard {
  width: 100%;
  z-index: 0;
  padding: 20px;
  border: none;
  border-top: 1px solid $c_grey_border;
  background-color: $c_white;
  margin-bottom: 20px;

  .entry {
    display: block;
    position: relative;
    width: 100%;
    clear: both;
    height: 70px;
    cursor: pointer;
    @include transition(all 50ms ease-in-out);

    &:hover {

    }

    .title {
      padding-top: 10px;
      padding-bottom: 5px;
      font-size: 1.4em;
      color: rgba($c_grey_content_font, .9);
    }

    .username {
      font-size: 1.05em;
      color: rgba($c_grey_content_font, .6);
    }

    .avatar {
      display: inline-block;
      position: relative;
      margin: 10px;
      width: 50px;
      height: 50px;
      float: left;
      background-color: $c_grey_bg;

      img {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        right: 50px;
      }

      i {
        font-size: 1.5em;
        color: $c_white;
        text-align: center;
        width: 100%;
        line-height: 50px;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}