.content {
  margin-left: 230px;

  .wraper {
    padding: 20px 25px 20px 25px;
    min-height: 550px;

    .page-title {
      padding: 10px 0 30px;
      font-size: 1.8em;
      color: $c_font_title_grey;
    }

    .dashboard {
      width: 100%;
      z-index: 0;
      padding: 10px 10px;
      border: none;
      border-top: 1px solid #ddd;
      border-color: #ddd;
      background-color: $c_white;
      margin-bottom: 20px;
      @include border-radius(4px);

    }
  }
}