.content {
  margin-left: 230px;

  .wraper {
    padding: 20px 0 20px 0;
    min-height: 550px;

    .page-title {
      padding: 0 20px 15px 25px;

      div {
        button.title {
          font-size: 1.8em;
          font-weight: 500;
          color: $c_grey_content_font;
          background-color: transparent;
          border: 0;
          outline: 0;
          @include box-shadow(none);
          @include border-radius(2px);

          &:active, &:focus, .btn-group.open .dropdown-toggle {
            @include box-shadow(none);

          }
        }

        ul.dropdown-menu {
          border: 0;
          margin-top: -8px;
          @include border-radius(2px);
          @include box-shadow(0 2px 6px rgba($c_black, 0.1));

          & a {
            padding: 10px 20px !important;
            color: $c_grey_font_header_links;

            i {
              width: 38px;
              margin-right: 10px;
              text-align: center;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}