.content {
  margin-left: 220px;

  @media screen and (max-width: $break-small) {
    margin-left: 80px;
  }

  .wraper {
    padding: 20px 0 20px 0;
    min-height: 550px;

    .page-title {
      padding: 0 10px 15px 10px;
      margin: 0;


      div {
        button.add {
          margin: 3px 0 0 0;
        }

        button.title {
          width: 40px;
          text-align: right;
          height: 34px;
          line-height: 34px;
          font-size: 1.2em;
          padding: 0 18px 0 0;
          color: $c_grey_content_font;
          background-color: transparent;
          border: 0;
          outline: 0;
          @include box-shadow(none);
          @include border-radius(2px);

          &:active, &:focus, .btn-group.open .dropdown-toggle {
            @include box-shadow(none);

          }

          &:after {
            position: absolute;
            right: 5px;
            bottom: .9em;
            display: block;
            color: $c_grey_content_font;
            width: 20px;
            height: 20px;
            content: "\f43d";
            font-size: 1em;
            font-family: 'ionicons' !important;
          }
        }

        ul.dropdown-menu {
          border: 0;
          outline: 0;
          margin-top: -8px;
          @include border-radius(2px);
          @include box-shadow(0 2px 6px rgba($c_black, 0.1));

          & a {
            padding: 10px 20px !important;
            color: $c_grey_font_header_links;

            i {
              width: 38px;
              margin-right: 10px;
              text-align: center;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}