
.dashboard {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-top: 1px solid $c_grey_border;
  margin: 0 0 20px 0;

  .card {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    background-color: $c_white;
    overflow: hidden;

    &.waiting {

      .backface {
        @include backface-visibility(visible);
        @include transform(rotateX(0deg));

        .text {

          img {
            background-color: $c_blue_dark;
            padding: 0 5px 10px 5px;
            margin-top: -20px;
            width: 50px;
            line-height: 50px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            animation: shake 1.2s cubic-bezier(.36, .07, 0, .1) infinite;
            transform: translate3d(0, 0, 0);
            perspective: 1000px;
            @include border-radius(2px);
          }

          strong {
            font-size: 1.3em;
            color: $c_grey_content_font;
            position: absolute;
            top: -20px;
            width: 200px;
          }
          i {
            line-height: 50px;
          }
        }
      }

      .entry {
        @include backface-visibility(hidden);
        @include transform(rotateX(180deg));
      }
    }

    .backface {
      max-height: 80px;
      @include backface-visibility(hidden);
      @include transform(rotateX(180deg));
      @include transition(all 150ms ease-in-out);
      @include transform-style(preserve-3d);

      .text {
        position: relative;
        top: -50px;
        left: 40px;
        color: $c_grey_content_font;

        img {
          display: none;
        }
      }

    }

    .entry {
      display: block;
      position: relative;
      @include backface-visibility(visible);
      @include transform(rotateX(0deg));
      @include transition(all 150ms ease-in-out);
      @include transform-style(preserve-3d);

      .avatar {
        display: inline-block;
        position: relative;
        margin: 15px 15px 10px 20px;
        width: 50px;
        height: 50px;
        float: left;
        background-color: rgba($c_grey_content_font, .4);
        @include transition(all 50ms ease-in-out);
        @include border-radius(2px);

        img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 0;
          @include transform(translateY(-50%));
          @include border-radius(2px);
        }

        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 50px;
          height: 50px;
          display: block;
        }

        i {
          font-size: 2.5em;
          color: $c_white;
          text-align: center;
          width: 100%;
          line-height: 50px;
          vertical-align: middle;
          display: inline-block;
          @include transition(all 50ms ease-in-out);
        }

        &.white-bg {
          background-color: $c_white;
        }
      }

      .password, .safe-note {
        .button {
          position: relative;
          z-index: 2;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          width: 27px;
          height: 27px;
          padding: 0;
          margin: 0 0 0 6px;
          line-height: 27px;
          border-color: rgba($c_grey_content_font, .1);
          background-color: $c_white;
          color: $c_grey_content_font;
          @include unselectable();
        }
      }

      &.list-mode {
        min-height: 80px;

        &:hover {
          background: rgba($c_grey_bg, .5);

          .title {
            color: $c_black_font;
          }

          .username {
            color: $c_grey_content_font;
          }
        }

        .title-label, .password, .tags, .safe-note, .available-tags, .actions {
          display: none;
        }

        .password-shadow {
          visibility: hidden;
          border-left: 1px solid $c_grey_content_font;

          i {
            font-size: 0.65em;
            padding: 0 3px 2px 0;
          }
        }

        .title, .username {
          input, a {
            width: 80%;
            max-width: 300px;
            background: transparent;
            border: none;
            outline: none;
            white-space: nowrap;
            overflow: hidden;
            text-decoration: none;
            text-overflow: ellipsis;
            @include appearance-none();

            &:hover {
              text-decoration: none;
            }

            &:focus, &:active {
              @include appearance-none();
            }

            &:disabled {
              cursor: pointer;
            }
          }
        }

        .title {
          padding-top: 17px;
          font-size: 1.3em;
          @include transition(all 50ms ease-in-out);
          color: $c_grey_content_font;

          a {
            color: $c_black_font;
          }

          span {
            display: none;
            width: 0;
            overflow: hidden;
          }
        }

        .username {
          padding-top: 7px;

          a {
            display: inline-block;
            max-width: 150px;
            width: auto;
            padding-bottom: 3px;
            font-size: 1em;
            color: $c_grey_content_font;
            cursor: pointer;
            margin-right: 10px;
          }

          span {
            display: none;
            width: 0;
            overflow: hidden;
          }
        }
      }
      &:hover {
        .password-shadow {
          visibility: visible;
        }

        .form-buttons {
          visibility: visible;
        }
      }

      .form-buttons {
        position: absolute;
        visibility: hidden;
        top: 20px;
        right: 20px;
        width: 80px;
        height: 150px;

        .edit-btn {
          display: block;
        }

        .close-btn {
          display: none;
        }

        .content-btns {
          position: absolute;
          top: 5px;
          right: -250px;
          @include transition(all 0.2s ease-in-out);

          .button {
            margin-left: 10px;
          }
        }

      }

      &.edited {
        .form-buttons {
          .close-btn {
            display: none !important;
          }

          .content-btns {
            right: 0;
          }
        }
      }

      &.edit-mode {
        border-top: 1px solid rgba($c_grey_content_font, .1);
        border-bottom: 1px solid rgba($c_grey_content_font, .1);
        box-shadow: inset 0 2px 10px rgba($c_grey_bg, .3), inset 0px -2px 10px rgba($c_grey_bg, .3);
        min-height: 180px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: default;

        .title {
          padding-top: 10px;
        }

        .title, .title-label, .username, .password, .tags, .safe-note, .actions {
          color: $c_grey_content_font;
          padding-bottom: 3px;
          margin-bottom: 3px;
          z-index: 1;

          span {
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            width: 75px;
            text-align: left;
            font-size: .8em;
            font-weight: bold;
          }

          input, textarea, span.tagsinput, div.button {
            display: inline-block;
            border: none;
            width: 100%;
            max-width: 315px;
            padding: 5px 7px;
            background-color: rgba($c_grey_bg_header_hover, .9);
            outline: none;
            font-size: 1.1em;
            @include border-radius(2px);
          }

          .button > span {
            width: auto !important;
            padding-top: 0 !important;
          }

          .tagsinput {
            padding: 1px !important;
            min-height: 27px;

            span.tagsinput-tag {
              width: auto;
              float: left;
              color: $c_white;
              background-color: $c_grey_font;
              padding: 4px 7px 4px 7px !important;
              margin: 2px 1px 2px 2px;
              cursor: pointer;
              @include border-radius(2px);

              span {
                width: auto;
                padding-right: 4px;
              }

              i {
                font-size: .8em;
              }

              &:hover {
                background-color: $c_grey_font_header_links;
              }
            }

            span.tagsinput-input {
              cursor: pointer;
              border: 1px dashed $c_grey_font;
              padding: 3px 7px 3px 7px !important;
              margin: 2px 1px 2px 2px;
              width: auto !important;
              max-width: none !important;
              float: left !important;;
              @include border-radius(2px);
              @include unselectable();
            }
          }
        }

        .available-tags {
          position: relative;
          display: block;
          padding: 0 0 4px 205px;
          margin-top: -5px;
          width: 410px;

          span.tagsinput-available-tag {
            display: inline-block;
            line-height: 1.6em;
            font-style: italic;
            color: rgba(#3498db, .8);
            padding-right: 7px;
            cursor: pointer;

            &:hover {
              color: #3498db;
              text-decoration: underline;
            }

          }
        }

        .avatar {
          width: 100px;
          height: 100px;
          margin-right: 20px;

          i {
            line-height: 100px;
            font-size: 6em;
            @include transition(all 50ms ease-in-out);
          }

          a {
            display: none;
          }
        }

        .tags {
          padding-left: 140px;
        }

        .available-tags {
          padding-left: 215px;
        }

        .safe-note, .actions {
          padding-left: 140px;

          span {
            vertical-align: top;
            padding-top: 6px;
          }
          textarea {
            resize: none;
          }
        }

        .actions {
          padding-top: 10px;

          & > span {
            padding-top: 10px;
          }
        }

        .form-buttons {
          visibility: visible;
          z-index: 10;

          .edit-btn {
            display: none;
          }

          .close-btn {
            display: block;
          }

          .clipboard-btn {
            right: -180px;
          }
        }
      }

      .submit-btn {
        display: none;
      }
    }
  }
}

.pointer {
  cursor: pointer;
}